<%-include('partials/header'); -%>



    <h1>Home</h1>
    <p><%=homeContent%></p>
    
    <% postsContent.forEach(function(obj){ %>
        <h3><%=obj.text%></h3>
        <p><%=obj.post.substring(0,100)%> ... <a href="/posts/<%=obj.text%>">Read More </a></p>
    <% }); %>
    




<%-include('partials/footer'); -%> 
